In [15]:
import pandas as pd
import json
import urllib
import urllib.request

In [25]:
station_dresden = "01048"

In [26]:
first_date = "2019-01-01"

In [27]:
last_date = "2019-12-31"

In [28]:
url = f"https://api.brightsky.dev/weather?date={first_date}&last_date={last_date}&dwd_station_id={station_dresden}"
req = urllib.request.Request(url)
response = urllib.request.urlopen(req)
data = response.read()
values = json.loads(data)

In [29]:
df_new= pd.DataFrame(values['weather'])

In [30]:
df_new

,timestamp,source_id,precipitation,pressure_msl,sunshine,temperature,wind_direction,wind_speed,cloud_cover,dew_point,relative_humidity,visibility,wind_gust_direction,wind_gust_speed,condition,icon,fallback_source_ids
0,2019-01-01T00:00:00+00:00,6937,0.1,1028.50,NaN,7.0,260,19.1,100.0,6.7,98,3800,250.0,31.3,rain,cloudy,NaN
1,2019-01-01T01:00:00+00:00,6937,0.0,1027.80,NaN,7.1,260,19.4,100.0,6.3,95,7000,260.0,31.3,rain,cloudy,NaN
2,2019-01-01T02:00:00+00:00,6937,0.0,1027.09,NaN,7.0,250,16.2,100.0,5.8,92,11000,250.0,29.5,dry,cloudy,NaN
3,2019-01-01T03:00:00+00:00,6937,0.0,1026.00,0.0,7.0,240,20.2,100.0,5.4,90,15000,250.0,31.3,dry,cloudy,NaN
4,2019-01-01T04:00:00+00:00,6937,0.0,1024.70,0.0,7.2,240,21.2,100.0,4.1,81,20000,240.0,35.6,dry,cloudy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8732,2019-12-30T20:00:00+00:00,120052,0.0,1027.80,0.0,3.2,180,19.4,62.0,-3.3,62,40000,190.0,29.2,dry,partly-cloudy-night,NaN
8733,2019-12-30T21:00:00+00:00,120052,0.0,1027.09,NaN,3.1,170,16.2,37.0,-3.4,62,40000,180.0,30.2,dry,partly-cloudy-night,NaN
8734,2019-12-30T22:00:00+00:00,120052,0.0,1026.70,NaN,3.9,190,14.0,25.0,-4.1,56,45000,220.0,22.3,dry,partly-cloudy-night,NaN
8735,2019-12-30T23:00:00+00:00,120052,0.0,1025.59,NaN,6.2,220,18.7,0.0,-4.6,46,50000,220.0,29.5,dry,clear-night,NaN
8736,2019-12-31T00:00:00+00:00,120052,0.0,1025.00,NaN,7.4,220,18.0,0.0,-4.9,41,50000,240.0,23.4,dry,clear-night,NaN

In [31]:
df_new.to_pickle("weather_dresden.pkl")